<h1>StoreID = {{storeID}}</h1>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputTitle3" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTitle3" placeholder="Title" ng-model="title">
    </div>
  </div>
  <div class="form-group">
    <label for="inputURL3" class="col-sm-2 control-label">URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputURL3" placeholder="URL" ng-model="URL">
    </div>
  </div>
  <div class="form-group">
  	<div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-default" ng-click="save()">Save</button>
		<a href="#/" type="submit" class="btn btn-default">Cancel</a>
  	</div>
  </div>
</form>