<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputAccessKey" class="col-sm-2 control-label">Access Key</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAccessKey" placeholder="Access Key" ng-model="inputAccessKey">
    </div>
  </div>

  <div class="form-group">
    <label for="inputSecretKey" class="col-sm-2 control-label">Secret Key</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputSecretKey" placeholder="Secret Key" ng-model="inputSecretKey">
    </div>
  </div>

  <div class="form-group">
    <label for="inputUS" class="col-sm-2 control-label">US Associate Tag</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputUS" placeholder="US Associate Tag" ng-model="inputUS">
    </div>
  </div>

  <div class="form-group">
    <label for="inputUK" class="col-sm-2 control-label">UK Associate Tag</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputUK" placeholder="UK Associate Tag" ng-model="inputUK">
    </div>
  </div>

  <div class="form-group">
    <label for="inputCanada" class="col-sm-2 control-label">Canada Associate Tag</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCanada" placeholder="Canada Associate Tag" ng-model="inputCanada">
    </div>
  </div>

  <div class="form-group">
    <label for="inputDE" class="col-sm-2 control-label">DE Associate Tag</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputDE" placeholder="DE Associate Tag" ng-model="inputDE">
    </div>
  </div>

  <div class="form-group">
    <label for="inputFR" class="col-sm-2 control-label">FR Associate Tag</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFR" placeholder="FR Associate Tag" ng-model="inputFR">
    </div>
  </div>

  <div class="form-group">
    <label for="inputJP" class="col-sm-2 control-label">JP Associate Tag</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputJP" placeholder="JP Associate Tag" ng-model="inputJP">
    </div>
  </div>

  <div class="form-group">
    <label for="inputIT" class="col-sm-2 control-label">IT Associate Tag</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputIT" placeholder="IT Associate Tag" ng-model="inputIT">
    </div>
  </div>

  <div class="form-group">
    <label for="inputCN" class="col-sm-2 control-label">CN Associate Tag</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCN" placeholder="CN Associate Tag" ng-model="inputCN">
    </div>
  </div>

  <div class="form-group">
    <label for="inputES" class="col-sm-2 control-label">ES Associate Tag</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputES" placeholder="ES Associate Tag" ng-model="inputES">
    </div>
  </div>

  <div class="form-group">
    <label for="inputIN" class="col-sm-2 control-label">IN Associate Tag</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputIN" placeholder="IN Associate Tag" ng-model="inputIN">
    </div>
  </div>

  <div class="form-group">
  	<div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-default" ng-click="save()">Save</button>
  	</div>
  </div>
  
</form>